<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    
    <h3>This is a {{photo}}. Well, I removed the photo so it's not there anymore.</h3>
    <p>This site was created by me! It uses data from the weather service.</p>
    <p>And her name is {{bumbum}}</p>
    </br>
    {{>footer}}
</body>
</html>


